version: '3'

services:
  mariadb:
    image: mariadb:latest
    container_name: slurm_mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=suslurm
      - MYSQL_DATABASE=slurm_acct_db
    networks:
      - slurm-network
    volumes:
      - ./mariadb_docker/database:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysql", "--version"]
      interval: 2s
      timeout: 2s
      retries: 5
      start_period: 2s

  slurm_dbd:
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "sacctmgr", "list", "cluster"]
      interval: 2s
      timeout: 2s
      retries: 5
      start_period: 2s
    image: slurm_db_daemon
    container_name: slurm_db
    networks:
      - slurm-network
    volumes:
      - ./slurm_conf:/etc/slurm
    hostname: slurm_db


  slurm_head:
    depends_on:
      slurm_dbd:
        condition: service_healthy
    image: slurm_head
    container_name: slurm_head
    networks:
      - slurm-network
    volumes:
      - ./slurm_conf:/etc/slurm
      - ./shared:/shared
    hostname: slurm_controller
    privileged: true

  slurm_node1:
    depends_on:
      slurm_head:
        condition: service_started
    image: slurm_node
    container_name: slurm_node1
    networks:
      - slurm-network
    volumes:
      - ./slurm_conf:/etc/slurm
      - ./shared:/shared
    hostname: slurm_node1
    privileged: true


  slurm_node2:
    depends_on:
      slurm_head:
        condition: service_started
    image: slurm_node
    container_name: slurm_node2
    networks:
      - slurm-network
    volumes:
      - ./slurm_conf:/etc/slurm
      - ./shared:/shared
    hostname: slurm_node2
    privileged: true


  slurm_node3:
    depends_on:
      slurm_head:
        condition: service_started
    image: slurm_node
    container_name: slurm_node3
    networks:
      - slurm-network
    volumes:
      - ./slurm_conf:/etc/slurm
      - ./shared:/shared
    hostname: slurm_node3
    privileged: true


  slurm_node4:
    depends_on:
      slurm_head:
        condition: service_started
    image: slurm_node
    container_name: slurm_node4
    networks:
      - slurm-network
    volumes:
      - ./slurm_conf:/etc/slurm
      - ./shared:/shared
    hostname: slurm_node4
    privileged: true


networks:
  slurm-network:
    driver: bridge